Package: com.0xkuj.cctime13
Name: CCTime13
Depends: mobilesubstrate, org.thebigboss.libcolorpicker, firmware (>= 13.0) 
Version: 1.2
Architecture: iphoneos-arm
Description: Add clock to your Control Center
Maintainer: 0xkuj
Author: 0xkuj
Section: Tweaks
