<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>CCTIME13 ALLOWS YOU TO VIEW YOUR CLOCK IN CONTROL CENTER</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.0xkuj.cctime13pref</string>
			<key>key</key>
			<string>isEnabled</string>
			<key>PostNotification</key>
			<string>com.0xkuj.cctime13pref.settingschanged</string>
			<key>label</key>
			<string>Tweak Enabled</string>
			<key>nestedEntryCount</key>
			<integer>8</integer>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>⬅➡ Move Clock Left/Right</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>default</key>
			<real>170.0</real>
			<key>min</key>
			<real>0.0</real>
			<key>max</key>
			<real>1000.0</real>
			<key>showValue</key>
			<true/>
			<key>isSegmented</key>
			<false/>
			<key>segmentCount</key>
			<integer>1000</integer>
			<key>defaults</key>
			<string>com.0xkuj.cctime13pref</string>
			<key>key</key>
			<string>XAXISREG</string>
			<key>PostNotification</key>
			<string>com.0xkuj.cctime13pref.settingschanged</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>⬆⬇ MOVE CLOCK UP/DOWN</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>default</key>
			<real>11.5</real>
			<key>min</key>
			<real>-30.0</real>
			<key>max</key>
			<real>900.0</real>
			<key>showValue</key>
			<true/>
			<key>isSegmented</key>
			<false/>
			<key>segmentCount</key>
			<integer>900</integer>
			<key>defaults</key>
			<string>com.0xkuj.cctime13pref</string>
			<key>key</key>
			<string>YAXISREG</string>
			<key>PostNotification</key>
			<string>com.0xkuj.cctime13pref.settingschanged</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>⬅➡ Move Clock Left/Right (ORIENTED POSITION)</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>default</key>
			<real>170.0</real>
			<key>min</key>
			<real>0.0</real>
			<key>max</key>
			<real>1000.0</real>
			<key>showValue</key>
			<true/>
			<key>isSegmented</key>
			<false/>
			<key>segmentCount</key>
			<integer>1000</integer>
			<key>defaults</key>
			<string>com.0xkuj.cctime13pref</string>
			<key>key</key>
			<string>XAXISORI</string>
			<key>PostNotification</key>
			<string>com.0xkuj.cctime13pref.settingschanged</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>⬆⬇ MOVE CLOCK UP/DOWN (ORIENTED POSITION)</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>default</key>
			<real>11.5</real>
			<key>min</key>
			<real>-30.0</real>
			<key>max</key>
			<real>500.0</real>
			<key>showValue</key>
			<true/>
			<key>isSegmented</key>
			<false/>
			<key>segmentCount</key>
			<integer>500</integer>
			<key>defaults</key>
			<string>com.0xkuj.cctime13pref</string>
			<key>key</key>
			<string>YAXISORI</string>
			<key>PostNotification</key>
			<string>com.0xkuj.cctime13pref.settingschanged</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>RETURN SETTINGS TO DEFAULTS</string>
		</dict>
		<dict>
			<key>action</key>
			<string>defaultsettings:</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>icon</key>
			<string>respring.png</string>
			<key>label</key>
			<string>Restore to default settings</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>SOME CHANGES REQUIRES RESPRING</string>
		</dict>
		<dict>
			<key>action</key>
			<string>respring:</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>icon</key>
			<string>respring.png</string>
			<key>label</key>
			<string>Respring</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>ABOUT ME</string>
		</dict>
		<dict>
			<key>action</key>
			<string>donationLink</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>icon</key>
			<string>donate.png</string>
			<key>label</key>
			<string>Buy me a beer ;)</string>
		</dict>
		<dict>
			<key>action</key>
			<string>openTwitter</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>icon</key>
			<string>Twitter.png</string>
			<key>label</key>
			<string>Follow me on Twitter</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>Made by: 0xkuj | v1.0.5</string>
		</dict>
	</array>
	<key>title</key>
	<string>CCTime13</string>
</dict>
</plist>